@media (max-width: 1115px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
    }
    .container .content {
        max-width: 710px;
    }
}

@media (max-width: 650px) {
    body {
        background-image: url(../images/bg-mobile.svg);
    }

    header .logo {
        width: 40%;
    }

    .container {
        gap: 0;
        text-align: center;
    }

    .container .content h1 {
        margin: 15px;
    }

    .footer {
        margin: 15px;
        justify-content: center;
    }
}